.checkout-dark-wrapper {
  min-height: 100vh;
  /* background: linear-gradient(to bottom right, #121212, #1e1e1e); */
  background: transparent;
  padding: 40px 0;
}

.checkout-dark-box {
  /* background: #1c1c1c; */
  border-radius: 20px;
}

.checkout-dark-box input{
    border-radius: 6px;
}

.form-label {
  font-weight: 500;
}

.form-control,
.form-select {
  border-radius: 6px;
}

.btn-primary {
  background: #0d6efd;
  border: none;
  border-radius: 6px;
}

.btn-primary:hover {
  background: #0b5ed7;
}
